.div-1, .div-2 {
    background-color: red;
    /* display: block; POR DEFECTO -div TIENE DISPLAY BLOCK*/
}


.span-1{
    background-color: aquamarine;
    /* display: inline; POR DEFECTO SPAN TIENE DISPLAY INLINE*/ 
    /* height: 500px; */
    float: right;
}
.span-2 {
    background-color: aquamarine;
    /* display: inline; POR DEFECTO SPAN TIENE DISPLAY INLINE*/ 
    /* height: 500px; */
    float: left;
}

.img {
    width: 50px;
    height: 50px;
    display: inline-block;
}
