div {
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

/* EL posicionamiento relativo - se posiciona en relacion al posicionamiento original*/
.relative {
    position: relative;
    left: 80px;
    margin-left: 10px;
}

/* Posicionamiento fijo - se posiciona en relaciona a la pantalla*/
.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: greenyellow;
    z-index: 10;
}

/* POsicionamiento absoluto*/
.absolute {
    position: absolute;
    top: 0px;
    right: 0px;
}

.relative .contenedor {
    width: 800px;
    height: 400px;
    background-color: blue;
}

.sticky {
    background-color: darksalmon;
    position: sticky;
    top: 0px;
    color: whitesmoke;
    z-index: 2;
}